<div class= "container">
  <form action="/create" method='post' class="form">
    <label for="title_input">Title</label>
    <input type="text" name="title" id="title_input">
    <br>
    <label for="link_input">Link</label>
    <input type="text" name="link" id="link_input">
    <br>
    <input type="submit" name="submit" value="post">
  </form>

</div>
